
#puzzle-side {
    position: relative;
}

#puzzle-image-container {
    position: absolute;
    top: 0px;
}

#graphical {
    -moz-user-select: none;
    -webkit-user-select: none;
}

#connection {
    display: none;
}

#no-data {
    background-color: pink;
}

#replay-controls {
    display: none;
}

#time-remaining {
    font-size: 24px;
}
